/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Oct, 2022, 3:43:42 PM
    Author     : Abhinandan Shinde
*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-size: 100% 100%;
    background-image: url("home1.jpg");
    background-repeat: no-repeat;
    height: 546px;
}
.adminlogin1{
   
   margin-top: 200px;
   margin-left: 600px;
   width: 400px;
   height: 300px;
   background-color: white;
   padding-left: 50px;
}
h2{
    font-size: 20px;
    padding-left: 80px;
    padding-top: 20px;
}
.link{
    margin-top: 20px;
}
button{
    margin-left: 100px;
    margin-top: 20px;
}
.adminlogin{
    padding-top: 20px;
    font-weight: bold;
    font-size: 15px;
}
.adminlogin tr td{
    padding-top: 10px;
}
a:link{
    padding-top: 20px;
    margin-left: 40px;
}