/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Oct, 2022, 6:28:35 PM
    Author     : Abhinandan Shinde
*/
*{
    margin:0;
    padding:0; 
}
body{
    background-image: url("home4.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 646px;

}
.bgimage{
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    
}
.tr1{
    background-color: grey;
    width: 600px;
    margin-top: 100px;
    padding-top: 50px; 
    height: 250px;
    box-shadow:0 0 10px #000;
        border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
}
td{
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
}
input{
    width: 200px;
    padding: 7px 7px;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    border: solid rgba(0,0,0,0.5);
    font-size: 15px;
    font-weight: bold;
}
button{
    margin-top: 40px;
    width: 120px;
    height: 50px;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    border: solid rgba(0,0,0,0.5);
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

